
//$font-family-sans-serif : "Libre Baskerville" !important;

body {
	background-color:#F4EFE7 !important;
	font-family:"Libre Baskerville", serif !important;
}

.blockquote {
	/* Citation */
	font-style: italic;
}

.blockquote-footer{
	/* Légende des citation */
	text-align:right;
}
