/* Tous les éléments dont on veut pouvoir changer rapidement les paramètres
(couleurs, tailles, ...). Ex : le logo.
Est-ce qu'on paramétrise ici les couleurs de bootstrap ?*/

#logo {
	height:50px;
	width:50px;
	/* Couleur obtenue grâce à https://angel-rs.github.io/css-color-filter-generator/ */
	filter: brightness(0) saturate(100%) invert(75%) sepia(1%) saturate(966%) hue-rotate(166deg) brightness(93%) contrast(92%);
}

