<div class="hero-accueil-image overflow-hidden px-5">
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">Rejoignez la plus petite des bibliothèques numériques au monde.</h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead mb-4">Plus de 2 livres sont à portée de clic. Rejoignez-nous maintenant !</p>
            <div class="text-start d-grid gap-5 d-md-flex justify-content-sm-center mb-5">
                <div class="col-md-6"><app-inscription></app-inscription></div>
                <div class="col-md-6"><app-connexion></app-connexion></div>
            </div>
        </div>
    </div>
</div>