<main class="container px-4 py-5 ">
    <div class="row p5">
        <!-- 1ere colonne -->
        <div class="col-lg-4">
            <!-- Couverture -->
            <div class="container w-75" style="max-width:250px">
                <img [src]="'assets/img/book-covers/' + fetchedEdition.idEdition + '.jpg'" class="w-100" alt="">
            </div>

            <!-- Boutons de réservation -->
            <div class="btn-group w-100 p-3" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-outline-dark" [routerLink]="['/exemplaires']" [queryParams]="{'id': fetchedEdition.idEdition}" >Vérifier la disponibilité</button>
                <button type="button" class="btn btn-warning btn-outline-dark" [routerLink]="['/exemplaires']" [queryParams]="{'id': fetchedEdition.idEdition}" >Réserver</button>
            </div>
        </div>

        <!-- 2eme colonne : infos récupérées en DB -->
        <div class="col-lg-8">
            <h1 class="">{{fetchedEdition.titre}}</h1>
            <h2 class="h6 text-secondary">{{fetchedEdition.nomsAuteurs}}</h2>

            <blockquote class="card card-body overflow-auto" style="height:300px" cite="">
                <p>{{fetchedEdition.resume}}</p>
            </blockquote>

            <!-- Plus d'infos sur le bouquin (retrouvé de la DB) -->
            <div class="container px-0">
                <!-- Bouton déclanchant le déploiement de la boite contenant les infos -->
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Détails de l'édition
                </button>

                <!-- Boite contenant les infos (affichées grâce à une table) -->
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Détails de l'édition
                </button>
            </div>
        </div>
    </div>

    <!-- Recommendation  -->
    <!-- TODO créer un composant dédié -->
    <!--
    <div class="container card card-body">
        <h3>Du même auteur :</h3>
        <ul class="book-list">
            <li class="book-item"><img src="assets/img/book-covers/1.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/2.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/3.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/4.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/5.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/6.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/7.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/8.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/9.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/10.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/11.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/12.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/13.jpg" alt=""></li>
        </ul>

        <h3>Du même genre :</h3>
        <ul class="book-list">
            <li class="book-item"><img src="assets/img/book-covers/1.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/2.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/3.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/4.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/8.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/5.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/6.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/7.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/9.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/10.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/11.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/12.jpg" alt=""></li>
            <li class="book-item"><img src="assets/img/book-covers/13.jpg" alt=""></li>
        </ul>
    </div>
    -->
</main>