<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Resultats de recherche</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteurs</th>
                    <th>Date de Parution</th>
                    <th>Genres</th>
                    <th>Disponible</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let livre of livres">
                    <td>{{livre.titre}}</td>
                    <td>{{livre.auteurs}}</td>
                    <td>{{livre.publication}}</td>
                    <td>{{livre.nomGenres}}</td>
                    <td>{{livre.disponibilite? 'Oui' : 'Non'}}</td>
                </tr>
            </tbody>

        </table>
</div>