<footer class="py-3 text-bg-dark">
    <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Accueil</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white" [routerLink]="['/acces']">Informations Pratiques</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white"[routerLink]="['/faq']">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white"[routerLink]="['/about']">About</a></li>
    </ul>
    <p class="text-center text-white">
        © 2022 TPT Inc
        <!-- Easter Egg B) -->
        <span id="tpt"
              onmouseover="document.getElementById('kwak').play();"
              onmouseout="var thissound=document.getElementById('kwak'); thissound.pause(); thissound.currentTime = 0;"
              >
              🦆
        </span>
            <audio id="kwak" preload="auto" src="assets/tpt.m4a"></audio>
    </p>
    </div>
</footer>