<div class="mt-3 text-center">
    <h1>Informations pratiques</h1>
</div>

<hr>

<div class="mt-4 mb-5 text-center">
    <h3>Contacts</h3>
</div>

<div class="content  text-center">
    <div class="row">

        <div class="col-4">

            <div class="titre"> 
                <h5>Telephone</h5>
            </div>
            <div class="informations">  
            <div>
                <p>01 44 41 44 06</p> 
            </div>
        </div>
            
        <div class="col-4">

            <div class="titre"> 
                <h5>Email</h5>
            </div>
            <div class="informations">  
                <div>
                    <p>bibliothèque@ajc.fr</p> 
                </div>
            </div>
        </div>

        <div class="col-4">

            <div class="titre"> 
                <h5>Réseaux sociaux</h5>
            </div>
            <div class="informations">  
                <div>
                    <p>Facebook</p> 
                </div>
            </div>

        </div>
    </div>
</div>

<hr>

<div class="mt-4 mb-5 text-center">
    <h3>Horaires d'ouverture</h3>
</div>

                  
    
<div class="content  text-center">
    <div class="row">
        <div class="mb-5  col-1">
            <h5> Lundi </h5>
            <div class="schedule">  
                <div> 08:00 20:00 </div>
            </div>
        </div>

        <div class="col-1 ">
            <h5> Mardi </h5>
            <div class="schedule">  
                <div> 08:00 20:00 </div>
            </div>
        </div>

        <div class="col-1 ">
            <h5> Mercredi </h5>
            <div class="schedule">  
                <div> 08:00 20:00 </div>
            </div>
        </div>

        <div class="col-1 ">
            <h5> Jeudi </h5>
            <div class="schedule">  
                <div> 08:00 20:00 </div>
            </div>
        </div>

        <div class="col-1 ">
            <h5> Vendredi </h5>
            <div class="schedule">  
                <div> 08:00 20:00 </div>
            </div>
        </div>

        <div class="col-1 ">
            <h5> Samedi </h5>
            <div class="schedule">  
                <div> 08:00 20:00 </div>
            </div>
        </div>

        <div class="col-1 ">
            <h5> Dimanche </h5>
            <div class="schedule">  
                <div> Fermé </div>
            </div>
        </div>
</div>

<hr>

<div class="mt-4 mb-5">
    <h3>Accès à la bibliothèque</h3>
</div>

<div class="content text-start ms-5">
    <div class="row">
        <div class="col-5">
            
            <div class="titre"> 
                <h5>Adresse</h5>
            </div>
            <div class="informations">  
                <div>
                    <p>23 Quai de Conti, 75006 Paris</p> 
                </div>
            </div>

            <br>
            
            <div class="titre"> 
                <h5>Venir à la biblithèque</h5>
            </div>
            <div class="informations">  
                <div>
                    
                    <p>Il est très facile de venir</p> 
                </div>
            </div>

            <div class="titre"> 
                <h5>Venir en transports en commun</h5>
            </div>
            <div class="informations">  
                <div>
                    
                    <p>Depuis, prendre ligne...</p> 
                </div>
            </div>

            <div class="titre"> 
                <h5>Venir en vélo</h5>
            </div>
            <div class="informations">  
                <div>
                    
                    <p>Depuis le centre-ville, 10 minutes...</p> 
                </div>
            </div>

            <div class="titre"> 
                <h5>Venir en voiture</h5>
            </div>
            <div class="informations">  
                <div>
                    
                    <p>Parking à 5 minutes</p> 
                </div>
            </div>


        </div>

        <div class="col-7">
            <div class="d-flex flex-fill align-items-center justify-content-center h-100">
                <div class="mb-5">
                    <img src="assets/img/admin.jpg" alt="you have no power here meme">
                </div>
            </div>
        </div>

              